spring:
  application:
    name: storiesapi
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
     hibernate:
     dialect: org.hibernate.dialect.PostgreSQLDialect
